<div class="slider"></div><!-- slider -->

<section class="blog-area section">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let post of posts">
        <div class="card h-100">
          <div class="single-post post-style-1">
        
            <div class="blog-image"><img src="../../../assets/img/marion-michele-330691.jpg" alt="Blog Image"></div>
        
            <a class="avatar" href="#"><img src="../../../assets/img/icons8-team-355979.jpg" alt="Profile Image"></a>
        
            <div class="blog-info">
        
              <h4 class="lead"><a routerLink="/posts/{{post._id}}"><b>{{post.title}}</b></a></h4>
              <div class="container my-3">
                <p class="small">{{post.text}}</p>
              </div>
        
              <ul class="post-footer">
                <li><button class="btn btn-block btn-light "value="{{post._id}}"  #id (click)="likePost(id.value)"><i class="fa fa-heart"></i>{{post.likes.length}}</button></li>
                <li><button class="btn btn-block btn-light"><i class="fa fa-comments"></i>{{post.comments.length}}</button></li>
                <li><button class="btn btn-block btn-light" ><i class="fa fa-eye"></i>{{post.views}}</button></li>
              </ul>
        
            </div><!-- blog-info -->
          </div><!-- single-post -->
        </div><!-- card -->
      </div><!-- col-lg-4 col-md-6 -->

    
    </div><!-- row -->

    <a class="load-more-btn" href="#" *ngIf="posts.length>9"><b>LOAD MORE</b></a>

  </div><!-- container -->
</section><!-- section -->