<div class="jumbotron jumbotron-fluid hero align-items-center row">
  <div class="container-fluid text-center align-items-center">
    <div class="owl-carousel owl-theme">
      <div class="py-5 text-white" *ngFor="let quote of quotes">
        <h1 class="display-4 m-auto">{{quote}}</h1>
        <button type="button" class="btn btn-outline-light mt-4 bg-hero">Lihat Post</button>
      </div>
    </div>
  </div>
</div>

<section class="container-fluid bg-light py-5" id="post">

  <div class="container content ">
    <div id="contentslider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner owl-carousel owl-theme">
          <div class="carousel-item" *ngFor="let post of posts;let i = index" [class.active]="i==0">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <img src="../../../assets/img/hero.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-4 desc">
                <h4>{{post.title}}</h4>
                <p>{{post.text}}</p>
                <a href="/posts/{{post._id}}" class="btn btn-fill-grad">Lihat</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="text-center text-uppercase">
    <h4>Jelajahi Post Lebih Lanjut <button class="btn btn-outline-dark text-uppercase" routerLink="/posts">Disini</button></h4>
  </div>
</section>

<section class="container-fluid py-5" id="writer">

  <div class="container mb-3 content">
    <div class="owl-carousel writer owl-theme">
      <div class="row justify-content-center">

        <div class="col-lg-2" *ngFor="let w of writers;index as i">
          <img src="{{w.img}}" class="img-fluid" alt="">
          <figcaption class="figure-caption text-center muted mt-3">
            <h6 class="lead">{{w.name}}</h6>
            <p>{{w.status}}</p>
          </figcaption>
        </div>

      </div>
    </div>
  </div>

  <div class="text-center text mt-5">
    <h4 class="lead">Mulai Jadi Penulis Konten <button class="ml-2 btn btn-dark lead" routerLink="/profile" >Disini</button></h4>
  </div>

  <footer class="footer">
    <div class="row justify-content-center">
      <span class="lead">2018 &copy; Envitera.</span>
    </div>
  </footer>

</section>