<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'password2']" novalidate>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
      <div class="row">
        <div class="col text-center">
          <h1>Register</h1>
          <p class="text-h3">Create your personal account and save the World! </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col mt-4">
            <input placeholder="Your Name" type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required  />
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">Name is required</div>
            </div>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
            <input placeholder="Email" type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
            <input placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="col">
            <input placeholder="Confirm Password " type="password" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password2.invalid }" required />
            <div *ngIf="f.submitted && password2.invalid" class="invalid-feedback">
                <div *ngIf="password2.errors.required">Confirm Password is required</div>
                <div *ngIf="password2.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
      </div>
      <div class="row justify-content-end mt-4">
        <div class="col-4 d-flex justify-content-end">
          <button class="btn btn-block btn-primary" >Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
