
<form class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center">
            <h1>Login</h1>
            <p class="text-h3">Login and make your post to public. </p>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-8">
            <input type="email" class="form-control" placeholder="Email"required [(ngModel)]="userData.email" name="email">
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-8">
            <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="userData.password" name="password">
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-8">
            <button class="btn btn-block btn-primary" (click)="onLogin()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>